.custom-pagination .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-pagination .pagination .page-item {
    margin: 0 2px;
}

.custom-pagination .pagination .page-item .page-link {
    font-size: 14px;
    padding: 5px 12px;
    background-color: #f8fafc;
    border: 1px solid #dee2e6;
}

.custom-pagination .pagination .page-item .page-link svg {
    width: 20px;
    height: 20px;
}

.custom-pagination .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}

.custom-pagination .pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #f8fafc;
    border-color: #dee2e6;
}