/* カスタムページネーションスタイル */
.pagination .page-link {
    font-size: 14px !important; /* フォントサイズを変更 */
}

.pagination .page-item .page-link {
    padding: 5px 12px !important; /* パディングを変更 */
}

.pagination .page-item .page-link svg {
    width: 20px !important; /* 矢印アイコンの幅を変更 */
    height: 20px !important; /* 矢印アイコンの高さを変更 */
}

/* アイコンサイズを変更 */
.pagination span svg {
    width: 20px !important;
    height: 20px !important;
}